AWS_NODEJS_CONNECTION_REUSE_ENABLED=1

JWT_SECRET="YOUR_SECRET"

NETATMO_REDIRECT_URL="https://<your_api_gateway_host>/dev/api/tokens"
NETATMO_SCOPE="read_station read_thermostat"
NETATMO_CLIENT_ID="<your netatmo client id>"
NETATMO_CLIENT_SECRET="<your netatmo client secret>"
NETATMO_HOME_ID="<your home id>"
NETATMO_ROOM_ID="<your room id>"
NETATMO_DEVICE_ID="<your device id>"
NETATMO_MODULE_ID="<your module id>"

OPENDATASOFT_WEATHER_API_URI="https://public.opendatasoft.com/api/records/1.0/search/?rows=2000&refine.nom_epci=Nantes%20M%C3%A9tropole&sort=date&refine.date=%%year%%/%%month%%&start=0&fields=date,tc,u&dataset=donnees-synop-essentielles-omm&timezone=UTC&lang=en"